{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block body %}
<h1 class="text-center m-5">평점 및 후기</h1>


<div class="m-5">
  <p>{{ pick_review.pk }}번 게시글 | 작성자:<a href="{% url 'accounts:detail' pick_review.user.pk %}">{{ pick_review.user }}</a></p>
  <p>작성: {{ pick_review.created_at|date:"SHORT_DATETIME_FORMAT" }} | 최종수정: {{ pick_review.updated_at|date:"y-m-d D" }}</p>
  <div class="container mt-5">
    <h3 class="mb-3">후기</h3>
    <p class="fs-5">{{pick_review.title}}</p>
    <div class="text-end">
      <p class="fs-5">평점: {{pick_review.grade }}점</p>
    </div>
  </div>
</div>


{% if request.user.is_authenticated %}
{% if request.user == pick_review.user %}
<hr>
<div class="text-end mt-3 mx-5">
  <a class="btn btn-dark rounded-pill mx-2" href="{% url 'reviews:update' pick_review.pk %}">후기 수정</a>
  <a class="btn btn-dark rounded-pill" href="{% url 'reviews:delete' pick_review.pk %}">후기 삭제</a>
</div>
{% endif %}
{% endif %}


{% endblock body %}