{% extends 'base.html' %}

{% block body %}

<!-- 아티클 pk 못구하는중, search기능으로 아티클pk가져오기 -->
{% comment %}
<!-- <a href="{% url 'reviews:create' %}">리뷰쓰기</a> --> {% endcomment %}



<h1 class="menu_title text-center mt-5">후기게시판</h1>


<div class="container my-5" style="width: 70%;">

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">후기 제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성시간</th>
        <th scope="col">평점</th>
      </tr>
    </thead>
    <tbody>
      {% for review in all_reviews %}
      <tr>
        <th scope="row">
          <a class="text-decoration-none text-black" href="{% url 'reviews:detail' review.pk %}">{{ review.title }}</a>
        </th>
        <td>
          <a class="text-decoration-none text-black" href="{% url 'accounts:detail' review.user.pk %}">
            {{review.user}}</a>
        </td>
        <td>
          <p>{{review.created_at}}
        </td>
        <td>
          <p>{{review.grade}}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

    {% endblock body %}