a {
  text-decoration: none;
}

.tab-content {
  display: none;
  position: absolute;
  text-align: center;
}

.active .tab-content {
  display: block;
}

body {
  font-family: 'Noto Serif KR', serif;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-image: url('/static/img/main_1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-title {
  margin: 2rem;
  color: black;
  font-size: 3rem;
  font-weight: bolder;
}