a {
  text-decoration: none;
}

.tab-content {
  display: none;
  position: absolute;
  text-align: center;
}

.active .tab-content {
  display: block;
}

body {
  font-family: 'Noto Serif KR', serif;
}

.nav-title {
  margin: 0;
  color: black;
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'East Sea Dokdo', cursive;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;

  background-image: url('/static/img/main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-title {
  margin: 2rem;
  color: black;
  font-size: 3.5rem;
  font-weight: bolder;
  font-family: 'East Sea Dokdo', cursive;
  letter-spacing: 1rem;
}

.menu-title {
  font-family: 'Jua', sans-serif;
}

.carousel-inner>.carousel-item>.img {
  min-width: 100%;
  min-height: 400px;
}

.banner-color {
  background-color: rgba(0, 0, 0, 0.668);
}

.detail-title {
  text-align: center;
  display: table;
  width: 280px;
  height: 250px;
}

.detail-img-div {
  display: table-cell;
  vertical-align: middle;
}

.detail-img {
  max-width: 550px;
  max-height: 400px;
}