{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block body %}

<div class="container">
  <h1>회원 정보 페이지</h1>
  <div>
    <h3>{{ pick_user.username }}</h3>
    <h6>{{ pick_user.full_name }}</h6>
    <p>{{ pick_user.email }}</p>
    <p>{{ pick_user.phone }}</p>
    <hr>
    <p>팔로워 {{pick_user.follower.all.count}}</p>
    <p>팔로잉 {{pick_user.followings.all.count}}</p>
    {% if pick_user != request.user %}
    <a href="{% url 'accounts:follow' pick_user.pk %}">
      <p>
        {% if request.user in pick_user.follower.all %}
        언팔로우
        {% else %}
        팔로우
        {% endif %}
      </p>
    </a>
    {%endif %}
    <hr>
    <p>북마크 목록 ({{pick_user.marker.all.count}})</p>
    {% for mark in pick_user.marker.all %}
    <p>{{ mark }}</p>
    {% endfor %}
  </div>
  <a class="btn btn-primary" href="{% url 'accounts:update' pick_user.pk %}">회원정보 수정</a>
  <a class="btn btn-primary ms-2" href="{% url 'accounts:password' pick_user.pk %}">비밀번호 변경</a>
</div>
{% endblock body %}