{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block body %}

<div class="container mt-5">
  {% if pick_user.social_profile_picture %}
  <div>
    <img class="ms-auto my-3 rounded-5" src="{{ pick_user.social_profile_picture }}"
      style="width: 25rem; height: 25rem;">
  </div>
  {% endif %}
  <h1>회원 정보</h1>
  <div>
    <h3>{{ pick_user.username }}
      {% if pick_user.kakao_id %}
      <span class="text-warning ps-2">[ 카카오 로그인 유저 ]</span>
      {% elif pick_user.naver_id %}
      <span class="text-success ps-2">[ 네이버 로그인 유저 ]</span>
      {% elif pick_user.googld_id %}
      <span class="text-secondary ps-2">[ 구글 로그인 유저 ]</span>
      {% endif %}
    </h3>
    <h6>{{ pick_user.full_name }}</h6>
    <p>{{ pick_user.email }}</p>
    <p>{{ pick_user.phone }}</p>
    <hr>

    <div onclick="fw()" id="fwb" class="fwb">
      <p> 팔로워 {{pick_user.followings.all.count}}</p>
    </div>
    <div>
      <p onclick="fi()" id="fib" class="fib"> 팔로잉 {{pick_user.follower.all.count}}</p>
    </div>

    {% if pick_user != request.user %}
    <a class="" href="{% url 'accounts:follow' pick_user.pk %}">
      <p>
        {% if request.user in pick_user.followings.all %}
        언팔로우
        {% else %}
        팔로우
        {% endif %}
      </p>
    </a>
    {%endif %}
    <hr>
    <p>북마크 목록 ({{pick_user.marker.all.count}})</p>

    {% for mark in pick_user.marker.all %}
    <a class="text-white" href="{% url 'articles:detail' mark.pk %}">
      <p>{{ mark.name }}</p>
    </a>
    {% endfor %}
    <hr>
  </div>
  {% if request.user == pick_user %}
  <a class="btn btn-dark rounded-pill" href="{% url 'accounts:update' pick_user.pk %}">회원정보 수정</a>
  <a class="btn btn-dark rounded-pill mx-2" href="{% url 'accounts:password' pick_user.pk %}">비밀번호 변경</a>
  {% endif %}

  <div class="modal-w">
    <div class="modal_body">
      <p>팔로워</p>
      <hr>
      {% for fw in pick_user.followings.all %}
      <a class="text-balck" href="{% url 'accounts:detail' fw.pk %}">
        <p>{{fw}}</p>
      </a>
      {% endfor %}
    </div>
  </div>



  <div class="modal-i">
    <div class="modal_body">
      <p>팔로잉</p>
      <hr>
      {% for fi in pick_user.follower.all %}
      <a class="text-balck" href="{% url 'accounts:detail' fi.pk %}">
        <p>{{fi}}</p>
      </a>
      {% endfor %}
    </div>
  </div>



  <script>
    const modal1 = document.querySelector('.modal-w');
    const fw = document.querySelector('#fwb');

    fw.addEventListener('click', () => {
      modal1.style.display = 'block';
    });
    modal1.addEventListener('click', () => {
      modal1.style.display = 'none';
    });



    const modal2 = document.querySelector('.modal-i');
    const fi = document.querySelector('#fib');
    fi.addEventListener('click', () => {
      modal2.style.display = 'block';
    });
    modal2.addEventListener('click', () => {
      modal2.style.display = 'none';
    });



  </script>

  <style>
    .modal-w {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      display: none;

      background-color: rgba(0, 0, 0, 0.4);
    }

    .fwb {
      cursor: pointer;
    }

    .fib {
      cursor: pointer;
    }

    .modal-i {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      display: none;

      background-color: rgba(0, 0, 0, 0.4);
    }

    .modal.show {
      display: block;
    }

    .modal_body {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 400px;
      height: 600px;

      padding: 40px;

      text-align: center;

      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

      transform: translateX(-50%) translateY(-50%);
    }
  </style>
  {% endblock body %}