{% extends 'base.html' %}
{% load django_bootstrap5 %}



{% block body %}
<section class="banner row">
  <div class="col-3"></div>
  <div class="col-6 mt-5 text-center">
    <div class="banner-title">
      {% if none_info %}
        {{ none_info }}
      {% elif search %} 
        {{ search }}
      에 대한 검색 결과
      {% elif localmap %}
        {{localmap}}
      {% endif %}
    </div>
    <form class="d-flex" role="search" action=" {% url 'search:search' %}">
      <input class="form-control me-2" type="search" placeholder="캠핑장 검색" name="q" aria-label="Search">
      <button class="btn btn-dark rounded-pill" type="submit">Search</button>
    </form>
  </div>
  <div class="col-3"></div>
</section>



{% comment %} 아티클검색 {% endcomment %}
{% if search_article %}



<div class="container my-5" style="width: 70%;">

  <h1>{%if localmap %} {{localmap}}  {%else%} 캠핑장 검색 결과 {% endif %}</h1>
  <table class="table mt-5 ">
    <thead>
      <tr>
        <th scope="col">캠핑장</th>
        <th scope="col">위치</th>
        <th scope="col">전화번호</th>
        <th scope="col">평점</th>
      </tr>
    </thead>
    {% for adata in search_article %}
    <tbody>
      <tr>
        <th scope="row">
          <a class="text-decoration-none text-black" href="{% url 'articles:detail' adata.pk %}">{{adata.name}}</a>
        </th>
        <td>
          <p>{{ adata.address}}</p>
        </td>
        <td>
          <p>{{adata.contact}}
        </td>
        <td>
          <p>{{adata.grade}}</p>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
</div>
{% endif %}




{% comment %} 후기 검색 결과 {% endcomment %}
{% if search_review %}

<div class="container my-5" style="width: 70%;">
  <h1>후기 검색 결과</h1>
  <table class="table mt-5 ">
    <thead>
      <tr>
        <th scope="col">후기제목</th>
        <th scope="col">작성자</th>
      </tr>
    </thead>
    {% for rdata in search_review %}
    <tbody>
      <tr>
        <th scope="row">
          <a class="text-decoration-none text-black" href="{% url 'reviews:detail' rdata.pk %}">{{ rdata.title }}</a>
        </th>
        <td>
          <a class="text-decoration-none text-black" href="{% url 'accounts:detail' rdata.user.pk %}">{{rdata.user}}</a>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
  {% endif %}
</div>


{% endblock body %}