{% extends 'base.html' %}
{% load static %}



{% block body %}


<div class="container">
  <div class="container mt-5">
    <div class="text-center">
      <h1 class="menu-title mb-3">{{ article.name }}</h1>
    </div>
    <div class="row gx-3">
      <div class="col-7 detail-title">
        <div class="detail-img-div">
          <img class="detail-img" src="{{ article.image.url }}">
        </div>
      </div>
      <div class="col-5 mb-5">
        <table class="table">
          <tbody>
            <!-- 주소 -->
            <tr>
              <th class="col-3">주소</th>
              <td class="col-9">{{ article.address }}</td>
            </tr>
            <!-- 업체 연락처 -->
            <tr>
              <th class="col-3">문의처</th>
              <td class="col-9">{{ article.contact }}</td>
            </tr>
            <!-- 캠핑장 유형 -->
            <tr>
              <th class="col-3">캠핑장 유형</th>
              <td class="col-9">{{ article.camp_type }}</td>
            </tr>
            <!-- 바닥 유형 -->
            <tr>
              <th class="col-3">바닥 유형</th>
              <td class="col-9">{{ article.geography }}</td>
            </tr>
            <!-- 이용 시간 -->
            <tr>
              <th class="col-3">이용 시간</th>
              <td class="col-9">{{ article.season }}</td>
            </tr>
            <!-- 이용요금 -->
            <tr>
              <th class="col-3">이용 요금</th>
              <td class="col-9">{{ article.active_day }}</td>
            </tr>
            <!-- 홈페이지 -->
            <tr>
              <th class="col-3">홈페이지</th>
              <td class="col-9"><a href="{{ article.homepage }}">홈페이지 바로가기</a></td>
            </tr>
            <!-- 예약 방법 -->
            <tr>
              <th class="col-3">예약 방법</th>
              <td class="col-9">{{ article.reservation }}</td>
            </tr>
          </tbody>
        </table>

        <!-- 추천, 북마크 버튼 -->
        <a href="{% url 'accounts:like_articles' article.pk %}" class="btn btn-dark rounded-pill col-3 mt-3">{% if article not in request.user.like_articles.all %} <i class="bi bi-hand-thumbs-up"></i>추천  {%else%}  <i class="bi bi-hand-thumbs-up-fill"></i>취소 {%endif%}</a>

        <a href="{% url 'accounts:marker' article.pk %}" class="btn btn-dark rounded-pill col-3 mt-3">{% if article not in request.user.marker.all %} <i class="bi bi-bookmark-star"></i>즐겨찾기  {%else%}  <i class="bi bi-bookmark-star-fill"></i>즐겨찾기 해제 {%endif%}</a>
        <a class="btn btn-dark rounded-pill col-4 mt-3 mx-3" href="{% url 'reviews:create' article.pk %}"> 리뷰 작성하기</a>
        {% if user.is_superuser %}
        <a class="btn btn-dark rounded-pill col-3 mt-3 mx-5" href="{url 'articles:delete' article.pk}">삭제하기</a>
        {% endif %}

      </div>
    </div>
    <!-- 탭 공간 -->
    <div class="tab-div">
      <ul class="nav nav-tabs nav-justified tab-menu">
        <li class="tab-item nav-item">
          <!-- 사진 탭 -->
          <a class="nav-link" aria-current="page" href="#photos">사진</a>
          <div class="tab-content container" id="photos">
            <div class="row gx-3 py-3">
              <!-- 이미지는 세 개만 표시 -->
              {% for photo in photos %}
              <img class="col-4 m-0" src="{{ photo.image.url }}">
              {% endfor %}
            </div>
            <div class="d-flex">
              <a href="{% url 'articles:photos' article.pk %}" class="btn btn-dark rounded-pill col-3 mx-1">모든 사진들</a>
              <a href="{% url 'articles:add-photo' article.pk %}" class="btn btn-dark rounded-pill col-3">사진 등록하기</a>
            </div>
          </div>
        </li>
        <!-- 지도 탭 -->
        <li id="mapDiv" class="nav-item">
          <a class="nav-link" href="#map">지도</a>
          <div class="tab-content" id="map" style="width: 500px; height :400px;">
          </div>
        </li>
        <!-- 시설정보 탭 -->
        <li class="nav-item">
          <a class="nav-link" href="#amenities">시설정보</a>
          <div class="tab-content" id="amenities">
            {% for amenity in article.amenities %}
            <img src="{% static 'img/amenity_icons/' %}{{ amenity }}.png">
            {% endfor %}
          </div>
        </li>
        <!-- 후기 탭 -->
        <li class="nav-item">
          <a class="nav-link" href="#reviews">캠핑후기</a>
          <div class="tab-content" id="reviews">
            <ul>
              {% for review in reviews %}
              <li>
                <a href="{% url 'reviews:detail' review.pk %}">{{ review.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>

        </li>
      </ul>
    </div>

  </div>

  <!-- 카카오 지도 + 탭 스크립트 -->
  <!-- 설명서 : https://apis.map.kakao.com/web/sample/addr2coord/ -->
  <script>
    let container = document.getElementById("map");
    let options = {
      center: new kakao.maps.LatLng(33.450701, 126.570667),
      level: 3
    };
    const map = new kakao.maps.Map(container, options);

    const geocoder = new kakao.maps.services.Geocoder();
    function showKakaoMap(result, status) {
      if (status === kakao.maps.services.Status.OK) {
        const coords = new kakao.maps.LatLng(result[0].y, result[0].x);
        const marker = new kakao.maps.Marker({
          map: map,
          position: coords
        });
        const infowindow = new kakao.maps.InfoWindow({
          content: "<div style='width:150px; text-align: center; padding: 6px 0;'>{{ article.address }}</div>"
        });
        infowindow.open(map, marker);
        map.setCenter(coords);
      };
    };
    geocoder.addressSearch("{{ article.address }}", showKakaoMap);

    let tabList = document.querySelectorAll(".tab-div > .nav > .nav-item");
    for (let i = 0; i < tabList.length; i++) {
      tabList[i].querySelector(".nav-link").addEventListener("click", function (event) {
        event.preventDefault();
        for (let j = 0; j < tabList.length; j++) {
          tabList[j].classList.remove("active");
        }
        this.parentNode.classList.add("active");
        if (this.parentNode.id === "mapDiv") {
          const resetCampPosition = geocoder.addressSearch("{{ article.address }}", function (result) {
            const coords = new kakao.maps.LatLng(result[0].y, result[0].x);
            map.relayout();
            map.setCenter(coords);
          });
        }
      });
    };
  </script>
  
  {% endblock body %}