{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container">
  <div class="container mt-5">
    <div class="text-center">
      <h2 class="mb-3">캠핑이 처음이라면?</h2>
    </div>
    <div class="row gx-3">
      <div class="col-7 detail_title">
        <div class="detail_img_div">
          <img src="{% static 'img/ora.jpg' %}">
        </div>
      </div>
      <div class="col-5">
        <table class="table">
          <tbody>
            <!-- 주소 -->
            <tr>
              <th class="col-3">준비물</th>
              <td class="col-9">~~많다~</td>
            </tr>
            <!-- 업체 연락처 -->
            <!-- 캠핑장 유형 -->
            <tr>
              <th class="col-3">캠핑 음식</th>
              <td class="col-9">~~많다~</td>
            </tr>
            <!-- 바닥 유형 -->
            <tr>
              <th class="col-3">사전 조사</th>
              <td class="col-9">미리 알아보자~</td>
            </tr>
            <!-- 이용 시간 -->
            <tr>
              <th class="col-3">예약하러가기</th>
              <td class="col-9"><a href="#">어디로가지?</a></td>
            </tr>
          </tbody>
        </table>
        <div>        
          <h3>텐트 설치방법</h3>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/JwzXRE3mu84" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


{% endblock body %}