{% extends 'base.html' %}

{% block body %}

<div class="container mt-1">
  <div class="row gx-1">
    {% for photo in photos %}
    <div class="col-2">
      <a data-bs-toggle="modal" data-bs-target="#photoModal-{{ forloop.counter }}">
        <img class="w-100" src="{{ photo.image.url }}">
      </a>
      <div class="modal fade" id="photoModal-{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <img src="{{ photo.image.url }}" class="p-0 m-0">
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock body %}