{% extends 'base.html' %}

{% block main_contents %}

<h1 class="my-5 text-center fw-bold">Movie Review</h1>

<div class="container mb-5">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">작성 시간</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for reviews in review_data %}
      <tr>
        <td class="col-md-2">{{ reviews.id }}</td>
        <td class="col-md-6">
          <a href="{% url 'review:detail' reviews.id %}">
            {% if reviews.title %}
            {{ reviews.title }}
            {% else %}
            제목 없음
            {% endif %}
          </a>
        </td>
        <td class="col-md-4">{{ reviews.created_at|date:'y년 m월 d일' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <a class="btn btn-outline-primary float-right" href="{% url 'review:new' %}" role="button">리뷰 작성하기</a>
  </div>
</div>

{% endblock main_contents %}