{% extends 'base.html' %}
{% load django_bootstrap5 %}


{% block body %}
<section class="banner">
  <img src="./media_root/images/main_1920.jpg" alt="">
  <div class="container">
    <form class="d-flex " role="search" action="">
      <input class="form-control me-2" type="search" placeholder="캠핑장 검색" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
 </section>
<hr>
<div class="container mb-5">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4 my-3">
      <a href="#" class="btn btn-light">
        <div class="card text-center">
          <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text">text</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 my-3">
      <a href="#" class="btn btn-light">
        <div class="card text-center">
          <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text">text</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 my-3">
      <a href="#" class="btn btn-light">
        <div class="card text-center">
          <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text">text</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 my-3">
      <a href="#" class="btn btn-light">
        <div class="card text-center">
          <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text">text</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 my-3">
      <a href="#" class="btn btn-light">
        <div class="card text-center">
          <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text">text</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 my-3">
      <a href="#" class="btn btn-light">
        <div class="card text-center">
          <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text">text</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>

{% for article in all_article %}



{{article.title}}

{% endfor %}

{% endblock body %}