{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}



{% block body %}
<!-- banner 영역 -->
<section class="banner" style="height:500px; opacity: 0.9;">

  <div class="banner-title">오늘은 어디로 갈까?</div>
  <div class="container d-flex justify-content-center mb-5">
<form class="d-flex" role="search" action=" {% url 'search:search' %}" style="width: 50%;">
      <input class="form-control me-2" type="search" placeholder="캠핑장 검색" name="q" aria-label="Search">
      <button class="btn btn-dark rounded-pill" type="submit">Search</button>
    </form>
  </div>
  <div class =" text-center mt-2">
  <p style="font-weight:bold; "> 오늘의 인기검색어</p>
  {%for key in hot_keyword %}
  <p class="text-white"> {{key.keyword}}</p>
  {%endfor%}
</div>
</section>



<!-- carousel 영역 -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <h3 style="margin-top: 100px;" class="menu_title text-center">New & Update</h3>
    <div class="carousel-inner" style="height: 400px;">
      <div class="text-center">
        <div class="carousel-item banner-color active align-self-center">
          <a href=""><img class="img" src="https://placeimg.com/700/400/any/grayscale" class="d-block w-100" alt="..."></a>
          <div class="carousel-caption d-none d-md-block">
            <b>
              <h5>First Spot</h5>
              <p>Charged Camp</p>
              <h4>순철형님 캠핑장</h4>
            </b>
          </div>
      </div>
    </div>
    <div class="carousel-item banner-color">
      <div class="text-center">
        <a href=""><img class="img" src="https://placeimg.com/700/400/any/grayscale" class="d-block w-100" alt="..."></a>
        <div class="carousel-caption d-none d-md-block">
          <b>
            <h5>Second Spot</h5>
            <p>Free Camp</p>
            <h4>특전 캠핑장</h4>
          </b>
        </div>
      </div>
    </div>
    <div class="carousel-item banner-color">
      <div class="text-center">
        <a href=""><img class="img" src="https://placeimg.com/700/400/any/grayscale" class="d-block w-100" alt="..."></a>
        <div class="carousel-caption d-none d-md-block">
          <b>
            <h5>Third Spot</h5>
            <p>Charged Camp</p>
            <h4>특수 캠핑장</h4>
          </b>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br>
<br>
<!-- 본문 영역 -->
<div class="container mb-5">

  <h2 class="menu_title text-center">인기순(테마별)</h2>

  <div class="row">

    {% for article in all_article %}

    <div class="col-12 col-sm-6 col-lg-4 my-3">
      <a href="{% url 'articles:detail' article.pk %}" class="btn btn-light">
        <div class="card text-center">
          {%if article.thumbnail %}
          <img src="{{article.thumbnail.url}}" class="card-img-top" alt="...">
          {%else%}
          <img src="{% static 'img/main1920.jpg' %}"  class="card-img-top" alt="...">
          {%endif%}
          <div class="card-body">
            <h5 class="card-title fw-bold">{{article.name}} </h5>
            <p class="card-text">{{article.amenities}}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock body %}