{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}



{% block body %}
<!-- banner 영역 -->
<section class="banner" >
  <div class="banner-title">{{theme}}테마</div>
  <div class="container d-flex justify-content-center mb-5">
<form class="d-flex" role="search" action=" {% url 'search:search' %}" style="width: 50%;">
      <input class="form-control me-2" type="search" placeholder="캠핑장 검색" name="q" aria-label="Search">
      <button class="btn btn-dark rounded-pill" type="submit">Search</button>

    </form>
  </div>
</section>

<!-- 본문 영역 -->
<div class="container mb-5">

  <h2 class="menu-title text-center mt-3">{{theme}}</h2>

  <div class="row">

    {% for article in filter_article %}

    <div class="col-12 col-sm-6 col-lg-4 my-3">
      <a href="{% url 'articles:detail' article.pk %}" class="btn btn-light">
        <div class="card">
          {%if article.thumbnail %}
          <img src="{{article.thumbnail.url}}" class="card-img-top" alt="...">
          {%else%}
          <img src="{% static 'img/No_image.jpeg' %}"  class="card-img-top" alt="...">
          {%endif%}
          <div class="card-body">
            <h5 class="card-title fw-bold">{{article.name}} </h5>
            <p class="card-text">{{article.amenities}}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock body %}